<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4"><h4><img src="/profileimages/instalogo-removebg-preview.png" alt=""></h4></div>
            <div class="col-md-8">
                <ul>
                    <li><a href="/userprofile" class="text-warning">Home</a></li>
                    <li><a href="/profile" class="text-warning">Profile</a></li>
                    <li><a href="/resetpass" class="text-danger">Reset Password</a></li>
                    <li><a href="" class="text-warning">Welcome-<%=loginname%></a></li>
                    <li><a href="/logout"><button class="btn btn-danger">Logout</button></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>